.fixed-header .app-main {
  padding-top: 80px;
}









.all-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.projects-stats-chart {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}


/* content: "";
-webkit-clip-path: polygon(25% 0, 100% 0%, 101% 70%, 66% 80%, 0% 17%);
clip-path: polygon(25% 0, 100% 0%, 101% 70%, 66% 80%, 0% 17%);
background-position: -125px; */