h3.professional-count {
  color: #181c32 !important;
  margin: 0px;
  font-size: 2.5rem !important;
  font-weight: 600;
}
.todays-project {
  padding-top: 52px;
  color: #3f4254;
  font-weight: 700;
  font-size: 14px;
}
.professional-img ul {
  margin: 0px !important;
  padding: 0px !important;
  list-style: none;
  display: flex;
}
.professional-img {
  padding-top: 8px;
  display: inline-block;
  margin-left: 10px;
}

.professional-img ul li,
.all-manager-img-proj ul li {
  margin-left: -10px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 50%;
  transition: 0.3s;
}

.professional-img ul li:hover,
.all-manager-img-proj ul li:hover {
  z-index: 1;
  transition: 0.3s;
}

.professional-img ul li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
